@import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap');
body {
    font-family: 'Rowdies', cursive;
}

h1 {
    background-color: rgb(255, 255, 255);
    background-color: #e5e5f7;
    opacity: 0.8;
    background: radial-gradient(circle, transparent 20%, #e5e5f7 20%, #e5e5f7 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #e5e5f7 20%, #e5e5f7 80%, transparent 80%, transparent) 25px 25px, linear-gradient(#9845f7 2px, transparent 2px) 0 -1px, linear-gradient(90deg, #9845f7 2px, #e5e5f7 2px) -1px 0;
    background-size: 50px 50px, 50px 50px, 25px 25px, 25px 25px;
    padding: 100px;
    border: 50px;
    margin: 90px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 100px;
}

div {
    margin: 90px;
    border: 50px;
    padding: 100px;
    background-color: rgb(255, 153, 0);
    font-size: 50px;
    text-align: center;
    color: rgb(98, 0, 255);
}

h3 {
    margin: 90px;
    border: 50px;
    padding: 50px;
    padding: 100px;
    font-size: 50px;
    text-align: center;
    background-color: rgb(219, 23, 23);
    color: rgb(255, 255, 255);
}